footer {
	margin-top: 6rem;
}

/* Bio */
.bio {
	display: flex;
	padding-bottom: 2rem;
}

/*Bio Pictures*/
.bio-pics {
	display: flex;
	flex-direction: column;
}

.pictures img {
	width: 90%;
	height: auto;
	overflow: hidden;

}

.pictures p {
	margin-top: 1rem;
	font-size: 0.8rem;
	font-style: italic;
}

.pictures {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
}
/*Bio Text*/
.bio-text {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
}

/*Download Text*/
.bio-text a {
	text-decoration: none;
	color: seashell;
	padding: 1rem;
	background: black;
	width: 30%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.bio-text a:hover {
	background: grey;
}

/*Desktop*/
@media only screen and (min-device-width:964px) {

main {
	position: relative;
	top: 8rem;
}

.bio {
	margin-left: 5rem;
	margin-right: 5rem;
}

.bio-pics {
	width: 40%;
	margin-left: 2rem;
	/*justify-content: space-around;*/
}

.bio-text {
	width: 60%;
	margin-left: 3rem;
}

.bio-text h2 {
	font-size: 3rem;
	margin-left: 2rem;
	margin-top: 1rem;
}

.bio-text p {
	font-size: 1.2rem;
	margin-top: 1.2rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

}

/* Mobile */
@media only screen and (max-device-width: 963px) {

main {
	position: relative;
	top: 3rem;
}

.bio {
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.bio-pics {
	width: 85%;
}

.bio-text {
	width: 80%;
}

.bio-text h2 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.bio-text p {
	margin-bottom: 2rem;
	line-height: 2;
}

}