main {
	position: relative;
}

/*content {
	position: absolute;
	top: 33rem;
	display: flex;
	flex-direction: column;
}*/

/* Header */
.burntroots header {
	height: 5rem;
	display: flex;
	width: 100%;
}

header .burntroots h1 {
	margin-left: 2rem;
}

.burntroots nav {
	margin-left: auto;
	margin-right: 4rem;
	align-items: center;
}

.burntroots nav a {
	margin-left: 3rem;
}

.burntroots nav a:hover {
	color: grey;
}

/* Banner */
.banner {
	position:;
	display: flex;
}

.banner img {
	width: 100%;
}

.banner iframe {
	position: absolute;
	left: 1rem;
	bottom: 5%;
} 

/* Player */
.player {
	align-items: center;
}

.bandcamp {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

.bandcamp img {
	width: 75%;
	margin: 1rem;
}

/* Album Text */
.album-text {
	margin: 1rem;
}

.album-text h3 {
	margin: 2rem;
	margin-bottom: 3rem;
	text-align: center;
	font-size: 2rem;
}

.album-text p {
	margin: 2rem;
	font-size: 1.2rem;
	line-height: 1.5;
}

/* Back */
.backside {
	display: flex;
	align-items: center;
	background: grey;
}

/* Press */
.GdM {
	width: 100%;
}

.GdM h3 {
	padding-top: 2rem;
	padding-left: 4rem;
}

.GdM img {
	width: 50%;
	padding: 2rem;
	transition: 0.5s 0.3s;
}

.GdM img:hover {
	transform: scale(1.8) translateX(23%) translateY(0%);
}

/* Bios */
.bios {
	scroll-margin-top: 6rem;
}

.epk {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	background: rgb(20, 23, 20);
	width: 100%;
}

.epk h3 {
	line-height: 2;
}

.epk a {
	text-decoration: none;
	color: seashell;
	padding: 1rem;
	background: grey;
}

.epk a:hover {
	background: black;
}

.artist-bio h3 {
	font-size: 2rem;
	margin: 2rem;
	width: 15%;
}

.artist-bio {
	display: flex;
	align-items: center;
	margin-left: 3rem;
	margin-right: 3rem;
}

.artist-bio p {
	width: 70%;
	font-size: 1.4rem;
	margin-right: 3rem;
}

.artist-bio img {
	width: 20%;
	height: 20%;
}

.group-bio {
	display: flex;
	align-items: center;
}

.group-bio h3 {
	font-size: 2rem;
	margin: 2rem;
}

.group-bio p {
	margin: 2rem;
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.group-bio img {
	width: 50%;
	height: 50%;
	margin: 2rem;
}

.group-bio a {
	text-decoration: none;
	color: seashell;
	padding: 1rem;
	background: black;
	width: 30%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.group-bio a:hover {
	background: grey;
}

#group {
	display: flex;
	flex-direction: column;
	margin: 1rem;	
}

/*Desktop*/
@media only screen and (min-device-width:964px) {

main h2{
	font-size: 3rem;
	background: rgb(20, 23, 20);
}

.player {
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
	margin-left: 5rem;
	margin-right: 5rem;
}

.bandcamp {
	width: 35%;
}

.bandcamp iframe {
	margin: 1rem;
}

.album-text {
	width: 65%;
}

.backside img {
	width: 22%;
	margin: 2rem;
	margin-left: 9rem;
}

#credits p {
	margin: 2rem;
	line-height: 1.5;
}

.epk a {
	width: 13rem;
	height: 1.5rem;
	text-align: center;
	margin-left: 3rem;
}

.artist-bio {
	flex-direction: row;
}

.group-bio {
	flex-direction: row;
}

}

/* Mobile */
@media only screen and (max-device-width: 963px) {

main h2 {
	background: rgb(20, 23, 20);
}

header h1 {
	font-size: 0.8rem;
	margin-left: 2rem;
}

.player {
	display: flex;
	flex-direction: column-reverse;
}

.bandcamp {
	width: 90%;
}

.album-text {
	width: 100%;
}

.backside img {
	width: 40%;
	margin: 0.5rem;
	margin-left: 0.5rem;
}

#credits p {
	margin: 0.5rem;
	line-height: 1.5;
	margin-right: 2rem;
}

.press h2 {
	font-size: 3rem;
	padding: 1.5rem;
}

.bios h2 {
	font-size: 2.3rem;
	padding: 1rem;
}
.artist-bio {
	flex-direction: column;
}

.group-bio {
	flex-direction: column;
}

}