
/*Video Banner*/

.video-banner video {
	overflow: hidden;
	height: auto;
	width: 100% !important;
	margin-bottom: 3.5rem;
}


/* About */

.about {
	margin-left: 3%;
	margin-right: 3%;
	background: green;
	display: flex;
	align-content: center;
	margin-bottom: 3%;
}

#about-text {
	width: 70%;
	margin-left: 3%;
	margin-right: 1%;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: yellow;
}

.about h2 {
	font-size: 3rem;
}

.about p {
	background: blue;
	font-size: 1.2rem;
	margin-top: 15px;
	margin-bottom: 15px; 
}

.about #read-more {
	width: 18%;
	background: black;
	margin-top: 10px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 2px solid black;
}

span a {
	text-decoration: none;
	color: seashell;
}

.about #read-more:hover {
	background: grey;
	border: 2px solid black;
}

#about-image {
	background: red;
	width: 25%;
	height: 25%;
	display: flex;
	overflow: hidden;
	margin-top: auto;
	margin-bottom: auto;
}

#headshot {
	margin: auto;
	width: 90%;
	height: auto;
}

/* Videos */

.videos {
	margin-left: 3%;
	margin-right: 3%;
	background: red;
	display: flex;
	margin-bottom: 3%;
	flex-direction: column;
}

.videos h2 {
	font-size: ;
	margin-left: 3%;
	font-size: 3rem;
	margin-top: 1%;
	margin-bottom: 1%;
}

#video-containers {
	display: flex;
	flex-direction: row;
}

.featured {
	width: 60%;
	display: flex;
	flex-direction: column;
	background: orange;
	align-items: center;
	padding: 0.8rem;
	margin-bottom: 3rem;
}

.featured iframe {
	width: 73%;

}

.other-videos {
	width: 40%;
	height: auto;
	background: green;
	display: flex;
	flex-direction: column;
	padding: 0.8rem;
	margin-bottom: 3rem;
}

#other-1 {
	display: flex;
	flex-direction: row;
	background: blue;
	padding: 0.5rem;
}

#other-2 {
	display: flex;
	flex-direction: row;
	background: purple;
	padding: 0.5rem;
}

.other-videos iframe {
	overflow: hidden;
	height: 100%;
	width: 55%;
}

caption {
	background: black;
}