main {
  position: relative;
  padding-top: 48%;
}

main i {
	position: absolute;
	margin-left: 5%;
	margin-top: -5%;
}

/*Video Banner*/

.video-banner video {
	overflow: hidden;
	width: 100%;
	position: fixed;
	margin-bottom: 3.5rem;
	z-index: -10;
}


/* About */

.about {
	margin-left: 3%;
	margin-right: 3%;
	background: rgb(31, 36, 31);
	display: flex;
	align-content: center;
	margin-bottom: 15%;
}

#about-text {
	width: 70%;
	margin-left: 3%;
	margin-right: 1%;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: rgb(31, 36, 31);
}

.about h2 {
	font-size: 3rem;
}

.about p {
	font-size: 1.2rem;
	margin-top: 15px;
	margin-bottom: 15px; 
}

.about a {
	width: 18%;
	background: black;
	margin-top: 10px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-decoration: none;
	color: seashell;
}

span a {
	text-decoration: none;
	color: seashell;
}

.about a:hover {
	background: grey;
	
}

#about-image {
	background: rgb(31, 36, 31);
	width: 25%;
	height: 25%;
	display: flex;
	overflow: hidden;
	margin-top: auto;
	margin-bottom: auto;
}

#headshot {
	margin: auto;
	width: 90%;
	height: auto;
}

/* Videos */

.videos {
	margin-left: 3%;
	margin-right: 3%;
	background: rgb(31, 36, 31);
	display: flex;
	margin-bottom: 15%;
	flex-direction: column;
	justify-items: space-between;
}

.videos h2 {
	font-size: ;
	margin-left: 3%;
	font-size: 3rem;
	margin-top: 1%;
	margin-bottom: 1%;
}

.videos .caption {
	margin: auto;
}

#video-containers {
	display: flex;
	flex-direction: row;
}

.featured {
	width: 50%;
	display: flex;
	flex-direction: column;
	background: rgb(31, 36, 31);
	align-items: center;
	padding: 0.8rem;
	margin-bottom: 3rem;
}

.featured iframe {
	width: 73%;
}

.featured .caption {
	margin-top: 1.5rem;
}

.other-videos {
	width: 50%;
	height: auto;
	background: rgb(20, 23, 20);
	display: flex;
	flex-direction: column;
	padding: 0.8rem;
	margin-bottom: 3rem;
	margin-right: 2rem;

}

#other-1 {
	display: flex;
	flex-direction: row;
	padding: 0.5rem;
}

#other-2 {
	display: flex;
	flex-direction: row;
	padding: 0.5rem;
}

.other-videos iframe {
	overflow: hidden;
	height: 100%;
	width: 45%;
}

.other-videos .caption {
	margin-left: 2rem;
}