html {
	background-image: url(background.png);
  background-attachment: fixed;
  background-size: cover;
}

main {
  position: relative;
  padding-top: 5rem;
}

/*Video Banner*/
.video-banner video {
	overflow: hidden;
	width: 100%;
	position: fixed;
	margin-bottom: 3.5rem;
	z-index: -10;
}

.video-banner img {
	width: 100%;
	position: fixed;
	z-index: -15;
}

/* About */
#jump-to {
	scroll-margin-top: 17rem;
}

.about {
	margin-left: 3%;
	margin-right: 3%;
	background: rgb(31, 36, 31);
	display: flex;
	align-content: center;
	margin-bottom: 15%;
}

#about-text {
	margin-left: 3%;
	margin-right: 1%;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: rgb(31, 36, 31);
}

.about h2 {
	font-size: 3rem;
}

.about p {
	font-size: 1.2rem;
	margin-top: 15px;
	margin-bottom: 15px; 
}

.about a {
	background: black;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	color: seashell;
}

span a {
	text-decoration: none;
	color: seashell;
}

.about a:hover {
	background: grey;
	
}

#about-image {
	background: rgb(31, 36, 31);
	display: flex;
	overflow: hidden;
	margin-top: auto;
	margin-bottom: auto;
}

#chevron {
	position: absolute;
	margin-left: 3rem;
	margin-top: -7rem;
	width: auto;
	background: none;
}

/* Videos */

.videos {
	margin-left: 3%;
	margin-right: 3%;
	background: rgb(31, 36, 31);
	display: flex;
	margin-bottom: 15%;
	flex-direction: column;
	justify-items: space-between;
}

.videos h2 {
	font-size: ;
	margin-left: 3%;
	font-size: 3rem;
	margin-top: 1%;
	margin-bottom: 1%;
}

.videos .caption {
	margin: auto;
}

#video-containers {
	display: flex;
}

.featured {
	display: flex;
	flex-direction: column;
	background: rgb(31, 36, 31);
	align-items: center;
	padding: 0.8rem;
}

.featured iframe {
	width: 73%;
}

.featured .caption {
	margin-top: 1.5rem;
}

.other-videos {
	height: auto;
	background: rgb(20, 23, 20);
	display: flex;
}

#other-1 {
	display: flex;
	padding: 0.5rem;
}

#other-2 {
	display: flex;
	padding: 0.5rem;
}

.other-videos iframe {
	overflow: hidden;
	height: 100%;
	width: 45%;
}

.other-videos .caption {
	margin-left: 2rem;
}

/*Desktop*/
@media only screen and (min-device-width:964px) {

content {
	position: relative;
	top: 44rem;
}

#headshot {
	margin: auto;
	width: 90%;
	height: auto;
}

#about-text {
	width: 70%;
}

.about h2 {
	margin-top: 2rem;
}

.about a {
	width: 18%;
	margin: auto;
	margin-bottom: 2rem;
}

#about-image {
	width: 25%;
	height: 25%;
}

#video-containers {
	flex-direction: row;
}

.featured {
	width: 50%;
	margin-bottom: 3rem;
}


.other-videos {
	width: 50%;
	flex-direction: column;
	padding: 0.8rem;
	margin-bottom: 3rem;
	margin-right: 2rem;
}

#other-1 {
	flex-direction: row;
}

#other-2 {
	flex-direction: row;
}


footer {
	position: relative;
  	top: 40rem;
}

}

/* Mobile */
@media only screen and (max-device-width: 640px) {


.about {
	flex-direction: column;
}

#about-text {
	width: 95%;
}

.about a {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

#headshot {
margin: auto;
width: 90%;
height: auto;
}	

#about-image {
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 90%;
	height: 90%;
}

#video-containers {
	flex-direction: column;
}

.featured {
	width: auto;
}

.other-videos {
	width: 90%;
	flex-direction: row;
	margin: auto;
}

#other-1 {
	flex-direction: column;
	width: 50%;
	height: 50%;
	align-items: center;
}

#other-2 {
	flex-direction: column;
	width: 50%;
	height: 50%;
	align-items: center;
}

footer {
	position: relative;
	top: 8rem;
}

}